name: deploy to production
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      statuses: write
      contents: read
    environment: production

    steps:
      - name: Check out code
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          cache: true
          go-version-file: provider/github-app-token/go.mod
          cache-dependency-path: provider/github-app-token/go.sum

      - name: build
        run: |
          make build
        working-directory: provider

      - uses: fuller-inc/actions-aws-assume-role@ee49a108ae9920a17c4abf0931f30935fea2d2b0 # v1.5.3
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::978218332026:role/github-app-token-github-actions-us-east-1
          role-session-tagging: true
          use-node-id: true

      - name: deploy
        run: |
          make deploy
        working-directory: provider
        env:
          APP_ENV: production
