name: deploy to production
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      statuses: write
      contents: read
    environment: production

    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: true
          go-version-file: provider/github-app-token/go.mod
          cache-dependency-path: provider/github-app-token/go.sum

      - name: build
        run: |
          make build
        working-directory: provider

      - uses: fuller-inc/actions-aws-assume-role@ab8b68ccaa6a83d843cd6f9403fc3c0eb2e3af0c # v1.7.1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::978218332026:role/github-app-token-github-actions-us-east-1
          role-session-tagging: true
          use-node-id: true

      - name: deploy
        run: |
          make deploy
        working-directory: provider
        env:
          APP_ENV: production
