name: deploy to production
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      statuses: write
      contents: read
    environment: production

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"

      - name: Check out code
        uses: actions/checkout@v3

      - name: restore cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
      - name: download dependencies
        run: go mod download
        working-directory: provider/github-app-token

      - name: build
        run: |
          make build
        working-directory: provider

      - uses: fuller-inc/actions-aws-assume-role@v1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::978218332026:role/github-app-token-github-actions-us-east-1
          role-session-tagging: true
          use-node-id: true

      - name: deploy
        run: |
          make deploy
        working-directory: provider
