name: test
on:
  push:
  pull_request:

jobs:
  provider:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      id-token: write
      contents: read
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Set up Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          cache: true
          go-version-file: provider/github-app-token/go.mod
          cache-dependency-path: provider/github-app-token/go.sum

      - name: Test
        run: |
          make test
        working-directory: provider/github-app-token

  action:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Set up Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          cache: true
          go-version-file: provider/github-app-token/go.mod
          cache-dependency-path: provider/github-app-token/go.sum

      - name: Set up Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version-file: action/package.json
          cache: "npm"
          cache-dependency-path: action/package-lock.json

      - name: Install dependencies
        run: |
          npm ci
        working-directory: action

      - name: Test
        run: |
          npm run test
        working-directory: action
